<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Quiz</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/quiz.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/quiz.js"></script>
</head>
<body>
  <%- include('nav') %>
  <section id="quiz">
    <form id="quiz-form">
      <section id="description">
        <h2><%= quiz.title %></h2>
        <h4><%= quiz.description %></h4>
      </section>
      <% for (const question of questions) { %>
        <div class="question">
          <h3 class="question-number"><%= question.number %>. <%= question.description %></h3>
          <% for (const option of question.options) { %>
            <label class="option">
              <input class="answer" type="radio" name="answer-<%= question.number %>">
                <%= option.number %>. <%= option.description %>
              </input>
            </label>
            <br>
        </div>
        <% } %>
      <% } %>
      <button id="create-attempt">Submit</button>
    </form>
  </section>
</body>
</html>