<!DOCTYPE html>
<html lang="en">
<head>
  <title>Score Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/score.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <%- include('nav') %>
  <section id="score-info">
    <h1>Attempted by: <%= attempt.username %></h1>
    <h2>Quiz Title: <%= attempt.quizTitle %></h2>
    <h3>Quiz Description: <%= attempt.quizDescription %></h3>
    <h4>Quiz URL: <a href='/quizzes/<%= attempt.quizUrl %>'><%= attempt.quizUrl %></a></h4>
    <h2><%= attempt.score %>/<%= attempt.maxScore %></h2>
  </section>
</body>
</html>